---
layout: default
active_key: home
---

{%- for section in site.data.links -%}
    <div class="ui vertical stripe links segment">
        {% if forloop.first %}{% include page_loading_progress_bar.html %}{% endif %}
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                {%- for item in section.categories -%}
                    <div class="links column">
                        <div class="ui top attached label">{{ item.category }}</div>
                        <div class="ui labels">

                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
{%- endfor -%}
